# pip~=24.1.2 #upgrading, since the Dockerfile install v23
#IDD3~=0.1.0 # doesn't install automatically with python 3.11.10 and related dependencies
nltk~=3.9.1
termcolor~=2.5.0
setuptools~=75.2.0
numpy~=1.23.5
# nlpnet~=1.2.4 # doesn't install automatically with python 3.11.10 and related dependencies
# pypi-kenlm==0.1.20220713 # using kenlm instead
kenlm~=0.2.0
gensim~=4.3.3
lxml~=5.3.0
scipy~=1.13.1
SQLAlchemy~=2.0.36
spacy~=3.7.5
psycopg2-binary~=2.9.10